frontend/node_modules
static/dist/index.html
static/dist/bundle-index.js.LICENSE.txt
.npm
__pycache__
@lilaspeach
overlays
stockaudio
venv
.env
app/temp/*
app/output/*
app/video_uploads/*
app/audio_uploads/*
app/watermark_uploads/*
app/dist/index-bundle.js
userData
*.map