
<div class="card media-upload-card">
    <img src="static/images/navbar-logo.png" class="card-img-top" alt="media upload">
    <div class="card-body">
        <p class="card-text">filename.mp4</p>
        <input type="checkbox" class="form-check-input">
    </div>
</div>


<div class="card media-upload-card">
    <img src="static/images/navbar-logo.png" class="card-img-top" alt="media upload">
    <div class="card-body">
        <p class="card-text">filename.mp4</p>
        <input type="checkbox" class="form-check-input">
    </div>
</div>


<div class="card media-upload-card">
    <img src="static/images/navbar-logo.png" class="card-img-top" alt="media upload">
    <div class="card-body">
        <p class="card-text">filename.mp4</p>
        <input type="checkbox" class="form-check-input">
    </div>
</div>


<div class="card media-upload-card">
    <img src="static/images/navbar-logo.png" class="card-img-top" alt="media upload">
    <div class="card-body">
        <p class="card-text">filename.mp4</p>
        <input type="checkbox" class="form-check-input">
    </div>
</div>


<div class="card media-upload-card">
    <img src="static/images/navbar-logo.png" class="card-img-top" alt="media upload">
    <div class="card-body">
        <p class="card-text">filename.mp4</p>
        <input type="checkbox" class="form-check-input">
    </div>
</div>


<div class="card media-upload-card">
    <img src="static/images/navbar-logo.png" class="card-img-top" alt="media upload">
    <div class="card-body">
        <p class="card-text">filename.mp4</p>
        <input type="checkbox" class="form-check-input">
    </div>
</div>
