<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='/images/omniclip-logo-xs.png') }}" ></a>
      <button id="nav-toggle-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about')}}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pricing')}}">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('create_content')}}">Create</a>
        </li>





        <!-- ADDED AFFILIATES NAV BAR-->
        <!-- Add the following list item for the affiliates page link -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('affiliates')}}">Affiliates</a>
        </li>
        <!-- End of added list item -->


        <!-- ADDED AFFILIATES NAV BAR-->
        <!-- Add the following list item for the affiliates page link -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('affiliateSignUp')}}">Affiliates</a>
        </li>
        <!-- End of added list item -->




          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu">
              <div class="mb-3">
                <label for="email-login" class="form-label login-input-label">Email address</label>
                <input id="email-login" class="form-control form-control-sm" type="email" placeholder="email/username" aria-label="email-login">
                <label for="pwd-login" class="form-label login-input-label">Password</label>
                <input id="pwd-login" class="form-control form-control-sm" type="password" placeholder="password" aria-label="email-login">
              </div>
              <button type="button" class="btn btn-primary" href="#">Login</button>
              <a href="#">Forgot Password</a>
            </ul>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user', name='test')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>