<option value="Random" selected>Random</option>
<option value="Sad">Sad</option>
<option value="Age">Age</option>
<option value="Future">Future</option>
<option value="Travel">Travel</option>
<option value="Motivational">Motivational</option>
<option value="Teacher">Teacher</option>
<option value="Success">Success</option>
<option value="Romantic">Romantic</option>
<option value="Positive">Positive</option>
<option value="Movies">Movies</option>
<option value="Art">Art</option>
<option value="Business">Business</option>
<option value="Courage">Courage</option>
<option value="Fitness">Fitness</option>
<option value="Society">Society</option>
<option value="Inspirational">Inspirational</option>
<option value="Hope">Hope</option>
<option value="Failure">Failure</option>
<option value="Faith">Faith</option>
<option value="Respect">Respect</option>
<option value="God">God</option>
<option value="Learning">Learning</option>
<option value="Leadership">Leadership</option>