<div class="uploads-grid">
    <h1 class="text-center"><u>This Render's Media</u></h1>

    <div class="media-group">
        <h2>Videos</h2>
        <ul class="list-group upload-group">
            <li class="list-group-item d-flex justify-content-between">watermark1.png
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            <li class="list-group-item d-flex justify-content-between">A second item
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
            <li class="list-group-item d-flex justify-content-between">A third item
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
            <li class="list-group-item d-flex justify-content-between">A fourth item
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
            <li class="list-group-item d-flex justify-content-between">And a fifth one
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
        </ul>
    </div>
    <div class="media-group">
        <h2>Audios</h2>
        <ul class="list-group upload-group">
            <li class="list-group-item d-flex justify-content-between">watermark1.png
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            <li class="list-group-item d-flex justify-content-between">A second item
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
            <li class="list-group-item d-flex justify-content-between">A third item
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
            <li class="list-group-item d-flex justify-content-between">A fourth item
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
            <li class="list-group-item d-flex justify-content-between">And a fifth one
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
        </ul>
    </div>

    <div class="media-group">
        <h2>Watermarks</h2>
        <ul class="list-group upload-group">
            <li class="list-group-item d-flex justify-content-between">watermark1.png
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            <li class="list-group-item d-flex justify-content-between">A second item
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
            <li class="list-group-item d-flex justify-content-between">A third item
                <button class="btn btn-danger media-trash-btn">
                    <i class='bx bx-trash'></i>
                </button></li>
            </li>
        </ul>
    </div>
</div>