<div class="uploads-grid">
    <h1 class="text-center">This Render's Media</h1>

    <div class="row media-row">
      <!-- Videos Column -->
        <div class="col media-col upload-grid-header">
            <h2 class="text-center">Videos</h2>
        </div>

        <!-- Audios Column -->
        <div class="col media-col">
            <h2 class="text-center">Audios</h2>
        </div>

        <!-- Watermarks Column -->
        <div class="col media-col">
            <h2 class="text-center">Watermarks</h2>
        </div>
    </div>
    <div class="row media-row">
        <div class="col media-col">
            <span class="file-name">watermark1.png</span>
            <span class="file-name">watermark2.png</span>
        </div>
        <div class="col media-col">
            <span class="file-name">watermark1.png</span>
            <span class="file-name">watermark2.png</span>
        </div>
        <div class="col media-col">
            <span class="file-name">watermark1.png</span>
            <span class="file-name">watermark2.png</span>
        </div>
    </div>
</div>