{% extends 'base.html' %}

{% block content %}
<button class="discord">
    <a href="https://discord.gg/DuTwVkSD" target="_blank" style="text-decoration: none; color: #F7F8F8;">Discord</a>
</button>
<section class="hero-section">
    <div style="position: relative;">
        <div class="hero-image">
            <img style="overflow-x: hidden;" src="static/images/background.svg" alt="">
        </div>
        <img src="static/images/circle.svg" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);" alt="">
        <div class="hero-logo">
            <div>
                <img src="static/images/logo.png" width="80px" alt="">
            </div>
        </div>
    </div>
</section>
<main id="index-main">
<h2>INTRODUCTION</h2>
<p class="main-text">Introducing OmniClip</p>
<p class="sub-text">
    Welcome to OmniClip, your innovative destination for AI-powered video creation tailored for social media platforms. At OmniClip, we harness the power of cutting-edge artificial intelligence to revolutionize the way you engage with your audience. Whether you're a seasoned content creator or just stepping into the realm of social media, our platform empowers you to effortlessly craft captivating and dynamic videos. Say goodbye to the complexities of video editing; with OmniClip, you can bring your ideas to life seamlessly and share them with the world. Join us on a journey where creativity meets intelligence, and let OmniClip transform your vision into compelling videos that leave a lasting impression on your audience.
</p>
<h2>GALLERY</h2>
<div class="display">
    <div class="video-container">
        <video width="100%" controls>
            <source src="https://cdn.discordapp.com/attachments/1095435066311725076/1192053517733609502/exportkVA5sU4KvMVNGKD3QsG2msTOCoDornNc.mp4?ex=65a7ad59&is=65953859&hm=a6a4bf0cb6f8f91aa64489e936b0d07fc57e40e2b5de5ea2ebcfe150d9ac27c7&" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="video-container">
        <video width="100%" controls>
            <source src="https://cdn.discordapp.com/attachments/1095435066311725076/1191506175011864646/export7K7YYcvJWdl2J53AXC4ISKFK6QHpIyrW.mp4?ex=65a5af99&is=65933a99&hm=736c93094a3c16ccbf0f78e84af498b3df0967af0ba80c144558e3458419d82c&" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="video-container">
        <video width="100%" controls>
            <source src="https://cdn.discordapp.com/attachments/1095435066311725076/1191508829511352350/exportCkpTWWOlATHSmEb0hZuTmwvITeeLI1EY.mp4?ex=65a5b212&is=65933d12&hm=35c828500708ddf615450da0e280476ab673e4feefa3fda0a3581e7b6209b80d&" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<h2>WAITLIST</h2>
<p class="sub-text">
    Join the OmniClip Web App waitlist! Be the first to experience our webapp for free.
</p>
<form id="waitlistForm">
    <input type="email" name="email" id="emailInput" placeholder="Join our waitlist here">
    <button id="submitEmailBtn" class="btn btn-primary" type="submit"><img src="{{ url_for('static', filename='images/send.svg') }}" alt="Submit Email"></button>
</form>

</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Handle form submission when the submit button is clicked
    $("#waitlistForm").submit(function(event) {
        event.preventDefault(); // Prevent the default form submission

        const email = $("#emailInput").val();
        if (email) {
            // Handle order submission (e.g., send email, update database)
            $.ajax({
                type: "POST",
                url: "/waitlist", // The endpoint to trigger the order submission
                data: {
                    "email": email
                },
                    success: function (response) {
                    // Display the response message with a smooth transition
//                            $("#responseMessageDiv").text(response.message);
                    $("#responseMessageDiv").css("opacity", 1).delay(2000).queue(function (next) {
                        $(this).css("opacity", 0);
                        next();
                    });
                },
                error: function () {
                    // Display error message with a smooth transition
                    $("#responseMessageDiv").text("Order submission failed. Please try again later.")
                        .css("opacity", 1).delay(2000).queue(function (next) {
                            $(this).css("opacity", 0);
                            next();
                        });
                }                        
            });
        }
    });
});
</script>

{% endblock %}

{% set include_footer = true %}