{% extends 'base.html' %}

{% block content %}

<button id="offcanvas-btn" class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" style="background-color: #060606;">
    <i class='bx bx-menu' style="font-size: 2rem; color: white;"></i>
</button>
<div id="container" class="d-flex p-1 bg-dark" style="height: 100%; min-width: 215px;">

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 100%;">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">{{ user }}</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a id="dashboard-link" class="nav-link dark-hover active" aria-current="page" >Dashboard</a>
                </li>
                <li class="nav-item">
                    <a id="renders-link" class="nav-link dark-hover" aria-current="page" >Renders</a>
                </li>
                <li class="nav-item">
                    <a id="subscription-link" class="nav-link dark-hover" aria-current="page" >Subscription</a>
                </li>
                <li class="nav-item">
                    <a id="settings-link" class="nav-link dark-hover" aria-current="page" >Settings</a>
                </li>
            </ul>

            <hr>
            <div class="dropdown">
                <a href="#" class="align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>{{ user }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="/">Create New...</a></li>
                    <li><a class="dropdown-item" href="/">API Keys</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ url_for('login.logout') }}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="nav-lg-screen" class="flex-column flex-shrink-0 p-3 text-white bg-dark">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">{{ user }}</span>
        </a>
        <hr>
        <ul id="profile-pills" class="nav nav-pills flex-column">
            <li class="nav-item">
                <a id="dashboard-link" class="nav-link dark-hover active" aria-current="page"  data-bs-toggle="pill" href="#dashboard-content">Dashboard</a>
            </li>
            <li class="nav-item">
                <a id="affiliate-link" class="nav-link dark-hover redirect-link" href="{{ url_for('affiliate.affiliate_dashboard')}}">My Affiliate Account</a>
            </li>
            <li class="nav-item">
                <a id="renders-link" class="nav-link dark-hover" aria-current="page" data-bs-toggle="pill" href="#renders-content">Renders</a>
            </li>
            <li class="nav-item">
                <a id="subscription-link" class="nav-link dark-hover" aria-current="page" data-bs-toggle="pill" href="#subscription-content">Subscription</a>
            </li>
            <li class="nav-item">
                <a id="settings-link" class="nav-link dark-hover" aria-current="page" data-bs-toggle="pill" href="#settings-content">Settings</a>
            </li>
        </ul>

        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ user }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                <li><a class="dropdown-item" href="/">Create New...</a></li>
                <li><a class="dropdown-item" href="/">Security</a></li>
                <li><a class="dropdown-item" href="/">API Keys</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('login.logout') }}">Sign out</a></li>
            </ul>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
        </div>
    </div>


    <div class="tab-content mt-2" id="content-container" style="width: 100%;">

        <div id="dashboard-content" class="profile-tab-pane bg-light tab-pane fade show active" aria-labelledby="dashboard-link" style="min-width: 180px;">
            {% include 'partials/profile/dashboard.html' %}
        </div>
        <div id="renders-content" class="profile-tab-pane tab-pane fade m-1" aria-labelledby="renders-link">
            {% include 'partials/profile/renders.html' %}
        </div>
        <div id="subscription-content" class="profile-tab-pane bg-light tab-pane fade" aria-labelledby="subscription-link" style="min-width: 180px;">
            {% include 'partials/profile/subscription.html' %}
        </div>
        <div id="settings-content" class="profile-tab-pane tab-pane fade" aria-labelledby="settings-link" style="min-width: 180px;">
            {% include 'partials/profile/settings.html' %}
        </div>
    </div>
</div>
<script>
    const pills = document.getElementById('profile-pills').querySelectorAll('.nav-link');

    pills.forEach(pill => {
        if (!pill.classList.contains('redirect-link')) {
            pill.addEventListener('click', function(event) {
                event.preventDefault();
                // Get the target content div ID
                const contentId = event.target.id.replace('link', 'content');

                // Remove 'show' class from all content divs
                document.querySelectorAll('.profile-tab-pane').forEach(content => {
                content.classList.remove('show', 'active');
                });

                // Add 'show' class to the selected content div
                document.getElementById(contentId).classList.add('show', 'active');

                // Remove 'active' class from all pills
                pills.forEach(p => {
                    p.classList.remove('active');
                });

                // Add 'active' class to the selected pill
                event.target.classList.add('active');
            });
        }
    });
</script>

  {% endblock content %}

  {% set include_footer = false %}