{% extends 'base.html' %}

{% block content %}


<title>Sign Up for Affiliates</title>

<main id="affiliate-signup-container">
    <h2>Contact Details</h2>
    <form id="affiliate-signup-form" action="/affiliate-program/register" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" id="fname-affiliate" name="fname" class="form-control form-control-lg fs-6" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" id="lname-affiliate" name="lname" class="form-control form-control-lg fs-6" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email-affiliate" name="email" class="form-control form-control-lg fs-6" placeholder="Email" required>
        </div>
        
        <h2>Mailing Address</h2>
        <div class="form-group">
            <label for="street-addr1">Street Address</label>
            <input type="text" id="street-addr1" name="address1" class="form-control form-control-lg fs-6" placeholder="Street Address" required>
        </div>
        <div class="form-group">
            <label for="street-addr2">Street Address 2</label>
            <input type="text" id="street-addr2" name="address2" class="form-control form-control-lg fs-6">
        </div>
        <div class="form-group-half">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city" class="form-control form-control-lg fs-6" required>
            </div>
            <div class="form-group ">
                <label for="state">State</label>
                <select id="state" class="form-select">
                    {% include 'partials/states.html'%}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="zip">Zip / Postal Code</label>
            <input type="text" id="zip" name="zipCode" class="form-control form-control-lg fs-6" placeholder="Zip/Postal Code" required>
        </div>
        
        <h2>Business Information</h2>
        <div class="form-group">
            <label for="domain">Company Domain</label>
            <input type="text" id="domain" name="domain" class="form-control form-control-lg fs-6" placeholder="www.example.com">
        </div>
        <div class="form-group">
            <label for="phone">Telephone</label>
            <input type="tel" id="phone" name="phone" class="form-control form-control-lg fs-6" placeholder="111-111-1111">
        </div>
        <label for="business-type">Business Type</label>
        <select id="business-type" class="form-select-sm">
            <option value="none" selected></option>
            <option value="creator">Creator</option>
            <option value="blogger">Blogger</option>
            <option value="ecommerce">E-Commerce</option>
        </select>
        <h3 class="mt-2">Links</h3>
        <div class="social-links">
            <i class='bx bxl-twitter' style='color:#487adc'></i>
            <input type="text" id="twitter" name="twitter" class="form-control form-control-sm fs-6" placeholder="Twitter Account Url">
        </div>
        <div class="social-links">
            <i class='bx bxl-facebook-square' style='color:#184296'></i>
            <input type="text" id="fb" name="fb" class="form-control form-control-sm fs-6" placeholder="Facebook Account Url">
        </div>
        <div class="social-links">
            <i class='bx bxl-instagram' style='color:#a314c3'></i>
            <input type="text" id="instagram" name="instagram" class="form-control form-control-sm fs-6" placeholder="Instagram Account Url">
        </div>
        <div class="social-links">
            <i class='bx bxl-youtube' style='color:#ff0202'></i>
            <input type="text" id="youtube" name="youtube" class="form-control form-control-sm fs-6" placeholder="Youtube Account Url">
        </div>
        <div class="social-links">
            <i class='bx bxl-tiktok' style='color:#ffffff'  ></i>
            <input type="text" id="tiktok" name="tiktok" class="form-control form-control-sm fs-6" placeholder="TikTok Account Url">
        </div>
        <div class="social-links">
            <i class='bx bxl-twitch' style='color:#582fb9'  ></i>
            <input type="text" id="twitch" name="twitch" class="form-control form-control-sm fs-6" placeholder="Twitch Account Url">
        </div>



        <h2>Payment Information</h2>
        <p>Commission payments are made monthly to your Paypal account. You dont need to have a business account, a standard Paypal account is acceptable.</p>
        <div class="form-group">
            <label for="paypal">Paypal Account E-mail</label>
            <input type="text" id="paypal" name="paypal" class="form-control form-control-sm fs-6" placeholder="myname@example.com" required>
        </div>
        <button id="affiliate-signup-submit" class="btn-primary btn" type="submit">Submit Affiliate Form</button>
    </form>
    <p class="notice-message">By continuing, you agree to OmniClip's <a href="#">Terms of Use</a> and <a href="#">Privacy Notice</a></p>
</main>





{% endblock %}

{% set include_footer = true %}
