<div class="sub-profile">
    <h2 class="text-center rounded">Favorites</h2>
    <div class="row p-3 rounded dashboard-row">
        <div class="col-sm-6 mb-3 mb-sm-0 p-1">
            <div class="card text-center align-items-center dashboard-card">
                <div class="card-body dashboard-card-body">
                    <h5 class="card-title">Custom Videos</h5>
                    {% set attribs = 'data-numerator=1 data-denominator=2'%}
                    {% include 'partials/circular-progress.html' %}
                    <!-- <p class="card-text mt-2">Custom Content</p> -->
                    <a href="#" class="btn btn-primary">Create New</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6  p-1">
            <div class="card text-center align-items-center dashboard-card">
                <div class="card-body dashboard-card-body">
                    <h5 class="card-title">Category Videos</h5>
                    {% include 'partials/circular-progress.html' %}
                    <!-- <p class="card-text mt-2">created from parameters</p> -->
                    <a href="{{ url_for('create_content.create_content', tab='params-tab') }}" class="btn btn-primary">Create new</a>
                    
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center rounded mt-3">Usage</h2>
    <div class="m-3 p-3 rounded dashboard-sub-section">
        <p class="m-3"><strong>750 out of 1000 credits remaining</strong></p>
        <div class="progress" role="progressbar" aria-label="Credits Usage" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
            <div class="progress-bar overflow-visible text-dark p-1" style="width: 25%"><strong>250 / 1000 credits used</strong></div>
        </div>
    </div>
</div>