@import "../_variables.scss";

#renders-container {
    width: auto;
}
.render-card {
    color: #000000;
    background: #ffffff;
    min-width: 190px;
    border: 1px solid $border-color-primary;
    border-radius: inherit;
    padding: 10px;
    box-shadow: 2px 2px 0 0 $section-divider-color;
}

.video-component {
    min-width: 160px;
    min-height: 127px;
}

.sub-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width : 776px) {
    #renders-container {
        min-width: 540px;
    }  
    .render-card {
        width: 280px;
        flex-direction: column;
    } 
}
@media (max-width : 575px) {
    #renders-container {
        min-width: 307px;
    }  

}