@import "../_variables.scss";

.form-check {
    padding-left: 0em!important;
}

.profile-picture {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* overflow: hidden; */
    cursor: pointer;
}

.profile-picture:hover {
    border: solid 4px $border-color-primary;
}

.profile-picture:hover .plus-icon {
    visibility: visible;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plus-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: $discord-btn-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color-primary;
    font-size: 20px;
    cursor: pointer;
}

.settings-sub-section {
    background-color: var(--bs-body-bg);
    width: 66%; 
    margin: 0 auto;
}