@import "../variables.scss";

.subscription-card {
    color: $font-color-primary;
    background-color: $background-gradient-overlay-color;
}


@media (max-width : 496px) {
    #renders-container {
        min-width: 307px;
    }  
    .subscription-main-section {
        flex-direction: column;
    }

}