@import "../_variables.scss";


.uploads-grid {
    width: 75%;
    border: 2px solid $section-divider-color;
    padding: 8px;
    background: $background-gradient;
    margin: 0 auto;

    .upload-group {
        background-color: $background-color-secondary;
        margin-bottom: 15px;
    }

    .media-trash-btn {
        margin-left: 12px;
    }
}
