{% extends 'base.html' %}

{% block content %}

<div class="about-container">
    <div class="header">
        <img src="{{ url_for('static', filename='images/ai-robot.jpg')}}" alt="About Us Image">
    </div>
    <div class="content">
        <p>
            OmniClip was created as a personal passion project by its founder, who wanted to make social media content creation easier and more accessible. Leveraging the power of AI, OmniClip helps users effortlessly generate content for platforms like YouTube Shorts and TikTok, streamlining the entire process from idea to finished video. Designed for creators looking to maximize their reach with minimal effort, OmniClip brings seamless, AI-driven editing and creative tools to your fingertips. Whether you're a seasoned content creator or just getting started, OmniClip simplifies your workflow, so you can focus on what really matters—your creativity.
        </p>
    </div>
</div>

{% endblock %}

{% set include_footer = true %}