{% extends 'base.html' %}

{% block content %}

<main>
    <!-- <div id="session-data" data-user="{{ session['user'] }}"></div> -->
    <!-- <div class="header-img-container">
        <div class="hero-image">
            <img style="overflow-x: hidden;" src="static/images/waves-background.svg" alt="" height="300">
        </div>
        <img class="header-circle-img" src="static/images/circle.svg" alt="">
        <div class="hero-logo">
            <div>
                <img src="static/images/video-track.svg" width="80px" alt="">
            </div>
        </div>
    </div> -->

    <h1 id="instructions-params">Fill out the information below for a fully customized video.</h2>

    <div id="main-container-params">
        <h2 class="param-header">Import Video Components</h2>
        <form action="#" method="post" id="render-form" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <script>console.log("{{ csrf_token() }}");</script>
            <section id="imports" class="options-section">

                <div class="select-media-container">
                    <button id="upload-offcanvas-toggle" class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-media-upload" aria-controls="offcanvas-media-upload">
                        Upload Media<i class='bx bx-plus-circle' style="color: #3a8aff"></i></button>

                    <p class="m-3">or</p>
                    <div>
                        <div class="d-flex">
                            <input type="checkbox" id="clippack-checkbox" class="form-check mx-3">
                            <label for="clippack-checkbox" class="form-label">Select clippack from niche</label>
                        </div>
                        <input type="hidden" id="clippack-checkbox-value" value="false">
                        <select id="clippack" class="form-select" disabled>
                            {% include 'partials/quote-categories.html'%}
                        </select>
                    </div>
                </div>

                <div class="offcanvas offcanvas-top drop-zone" data-bs-backdrop="static"  tabindex="-1" id="offcanvas-media-upload" aria-labelledby="offcanvas-media-uploadLabel">
                    {% include 'partials/uploader/offcanvas-uploader.html' %}
                </div>
            </section>

            <section id="video-options" class="options-section">
                <h2 class="param-header mt-3">Video Options</h2>
                <div id="sliders">
                
                    <div id="total-length-container" class="slider-container mt-3">
                        <label for="total-length-val" class="form-label total-length-label">Target Duration</label>
                        <input type="number" id="total-length-val" class="form-control ml-2 range-number-input " name="totalLength" step="1.0" min="1.0" max="600.0" value="15">
                        <label class="form-label total-length-label">seconds</label>
                    </div>
                    <div class="num-videos-container">
                        <label for="num-videos-range" class="form-label">Total Videos to Generate</label>
                        <div id="num-videos-container" class="slider-container">
                            <input id="num-videos-range" class="form-range" type="range" min="1" max="5" value="1">
                            <input type="number" id="num-videos-val" class="form-control ml-2 range-number-input " name="numvideos" min="1" max="5" value="1">
                        </div>
                    </div>
                </div>

                <div id="fine-tuning" class="mb-3">
                    <h2 class="param-header">Fine-Tuning (Optional)</h2>
                    {% include 'partials/fine-tuning-box.html' %}
                </div>
            </section>

            <section id="submit-section" class="options-section">
                <div id="render-carousel" class="carousel slide">
                    <div id="video-content" class="carousel-inner">

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#render-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#render-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <span id="no-video-msg">No video files selected! Please select at least one video file in the file selector and try again.</span>
                <input type="submit" id="create-button-params" class="btn btn-primary" value="Create">
            </section>

        </form>
    </div>
</main>
{% endblock %}

{% set include_footer = true %}