{% extends 'base.html' %}

{% block content %}
<!-- style="background: url(static/images/background.svg) no-repeat center / cover;" -->
<section class="hero-section" >
    <video autoplay muted>
        <source src="{{url_for('static', filename='images/header-video.mp4')}}" type="video/mp4" width="400" height="200">
        Your browser does not support the video tag.
    </video>
</section>

<main id="index-main">
    <h2>INTRODUCTION</h2>
    <p class="main-text">Introducing OMNICLIP</p>
    <p class="sub-text">
        Welcome to OmniClip, your innovative destination for AI-powered 
        video creation tailored for social media platforms. At OmniClip, 
        we harness the power of cutting-edge artificial intelligence to revolutionize
        the way you engage with your audience. Whether you're a seasoned content creator or just stepping into the realm of social media, our platform empowers you to effortlessly craft captivating and dynamic videos. Say goodbye to the complexities of video editing; with OmniClip, you can bring your ideas to life seamlessly and share them with the world. Join us on a journey where creativity meets intelligence, and let OmniClip transform your vision into compelling videos that leave a lasting impression on your audience.
    </p>
    <h2>GALLERY</h2>
    <div class="display">
        <div class="video-container">
            <video width="100%" controls>
                <source src="../static/media/gallery1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="video-container">
            <video width="100%" controls>
                <source src="../static/media/gallery2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="video-container">
            <video width="100%" controls>
                <source src="../static/media/gallery3.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>


</main>


{% endblock %}

{% set include_footer = true %}