$background-color-primary: #000000;
$background-color-secondary: #060606;
$background-gradient: linear-gradient(107deg, #0a0512 9.16%, #2c1d49 43.89%, #0a0512 97.72%);
$font-family: Arial, sans-serif;
$background-gradient-overlay-color: #00000070;
$font-color-primary: #ffffff;
$border-color-primary: #ffffff;
$section-divider-color: #9191917a;
$disabled-color: #919191;
$text-shadow-xy: -5px -5px 15px #000,  
                5px -5px 15px #000,
                -5px  5px 15px #000,
                5px  5px 15px #000;
$text-shadow-xy-light: -5px -5px 15px #c2c2c2,  
                5px -5px 15px #c2c2c2,
                -5px  5px 15px #c2c2c2,
                5px  5px 15px #c2c2c2;
$discord-btn-color: linear-gradient(97deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);


// Used in uploads-grid, create-content
$border: 2px solid white;
$border-radius: 20px;
