@import "./_variables.scss";

.about-container {
    text-align: center;
    color: $font-color-primary;
    .header img {
        width: 100%; /* Adjust the width as needed */
        max-width: 800px; /* Set a maximum width if necessary */
        display: block;
        margin: 0 auto;
    }
    .content {
        max-width: 800px;
        margin: 20px auto;
    }
}

