@import "./_variables.scss";

#main-container-params {
    color: solid red;
    background-color: $background-color-secondary;
    padding: 30px;
    border-radius: 14px; 
    // min-width: 555px;
}

.carousel-control-next { 
    right: -9px;
}
.carousel-control-prev { 
    left: -9px;
}

.carousel-inner {
    background: $background-gradient;
    padding: 30px;
    border: groove 4px $border-color-primary;
    border-radius: 25px;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #0d6efd;
}

.carousel-indicators .active {
    background-color: $font-color-primary;
}

.carousel-caption {
    color: $font-color-primary;
    text-shadow: $text-shadow-xy;
}

.form-control:disabled {
    background-color: $disabled-color;
}

.upload-container{
    background-color: grey;
    height: 200px;
    overflow-y: scroll;
}


#imports {
    border-top: solid 2px $section-divider-color;
    display: flex;
    flex-direction: column;
}

.import-container {
    margin: 10px;
    padding: 5px;
}

@media (max-width: 768px) {
    .import-container {
        flex-basis: 100%; /* Full width for small screens */
    }

}

.import-container:nth-child(2) {
    flex: 1 1 10%; 
}
/* .import-container:nth-child(5) {
    flex: 1 1 10%; 
} */

.select-media-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.range-number-input {
    width: 75px;
}

#instructions-params {
    color: $font-color-primary;
    text-align: center;
    margin-top: 70px;      
    margin-bottom: 40px;    
}

.options-section {
    margin-top: 25px;
}


#submit-section {
    border-top: solid 2px $section-divider-color;
    margin-top: 20px;
}

#sliders {
    display: flex;
    border-top: solid 2px rgba(145, 145, 145, 0.4784313725);
    margin-top: 20px;
    justify-content: center;
    align-items: center;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.slider-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding-left: 10px;
    
}

#total-length-container, .num-videos-container {
    width: 50%;
}

#total-length-val {
    height: 35px;
}

.form-range {
    font-family: sans-serif;
    margin-right: 10px;
}

.form-label {
    margin: 10px 8px;
}

#fine-tuning {
    color: $font-color-primary;
    background: $background-gradient-overlay-color;
    padding: 20px;
    border: 2px solid $border-color-primary;
    border-radius: 20px;
}

#create-button-params {
    margin: 25px;
}

.param-header {
    color: $font-color-primary;
    text-shadow: $text-shadow-xy;
    width: auto;
}

.margin-right {
    margin-right: 50px;
}
.form-select:disabled {
    background-color: #919191;
}

#loadingParams-container {
    color: $font-color-primary;
    margin-top: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#loadingParams-container, #loadingAI-percentage, #render-carousel {
    display: none;
}

#render-carousel {
    margin: 20px;
}

#videoParams-container {
    display: none;
    align-items: center;
    justify-content: center;
}

#offcanvas-uploader-container {
    overflow-y: scroll;
}

#uploader-loading-container {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    flex-direction: column;

    p {
        margin-left: -2px;
    }
}

.upload-offcanvas-toggle {
    align-self: center;
    // width: 140px;
    margin: 20px;
    color: $font-color-primary;
}

#all-uploads {
    display: flex;
    padding: 12px; 
}

#video-uploads, #audio-uploads, #img-uploads {
    display: none;
}

#all-uploads-content, #video-uploads-content, #audio-uploads-content, #img-uploads-content {
    margin: 0 auto;
    // padding-left: 7%;
}

.media-upload-card {
    position: relative;
    // min-width: 9rem;
    width: 9rem;
    height: 13rem;
    text-align: center;
    margin: 8px auto;

    video, img, audio {
        width: 5rem;
        height: 6rem;
    }

    .media-delete {
        position: absolute;
        right: 5px;
        bottom: 3px;
    }
}


.media-upload-card:hover {
    cursor: pointer;
    background-color: $disabled-color;
}

.custom-check-input {
    position: absolute;
    left: 5px;
    bottom: 3px;
    border-color: #0d6efd;
}


#offcanvas-media-upload {
    margin-top: 9%;
    width: 90%;
    height: 70%;
    left: 5%;
    border-radius: $border-radius;
    border: $border;
}

.media-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    .media-col{
        width: 20%;
    }
}

@media (max-width: 992px) {
    .media-grid .media-col {
        width: 25%;
    } 
}

@media (max-width: 768px) {
    .media-grid .media-col{
        width: 50%;
    }
}

@media (max-width: 480px) {
    .media-grid .media-col{
        width: 100%;
    }

    .media-upload-card {
        margin: 8px auto;
    }
}

.offcanvas-upload-centered {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

#offcanvas-upload-close {
    position: absolute;
    right: 0;
    padding: 18px;
}

.offcanvas-body {
    padding-bottom: 10%;
}

.drop-zone.dragover {
    background-color: #cdcdcd;
    cursor: pointer;
}
.controls-menu {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #000;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 18%;
}

.offcanvas-btn {
    height: 50px;
    float: right;
    margin: 7px;
}

.custom-file-input {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    color: #007bff;
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 55px;
}

#hidden-file-input {
    display: none;
}

@media (max-width: 768px) {
    .slider-container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .form-range {
        width: 200%;
    }

    .select-media-container {
        flex-direction: column; 
        padding: 2rem 0;
        align-items: flex-start;
    }

    .num-videos-container {
        display: flex;
        flex-direction: column;
    }
}

#no-video-msg {
    display: none;
    color: red;
}