@import "./_variables.scss";

#main-container-params {
    color: solid red;
    background-color: $background-color-secondary;
    padding: 30px;
    border-radius: 14px; 
    min-width: 555px;
}

.carousel-control-next { 
    right: -9px;
}
.carousel-control-prev { 
    left: -9px;
}

.carousel-inner {
    background: $background-gradient;
    padding: 30px;
    border: groove 4px $border-color-primary;
    border-radius: 25px;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #0d6efd;
}

.carousel-indicators .active {
    background-color: $font-color-primary;
}

.carousel-caption {
    color: $font-color-primary;
    text-shadow: $text-shadow-xy;
}

.form-control:disabled {
    background-color: $disabled-color;
}

.header-img-container {
    width: 100%;
    height: 300px;
}
.hero-image {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-logo {
    width: 100%;
    height: 100%;
    background: url('../images/circle.svg') center/cover no-repeat;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-container{
    background-color: grey;
    height: 200px;
    overflow-y: scroll;
}


#imports {
    border-top: solid 2px $section-divider-color;
    display: flex;
    flex-direction: column;
}

.import-container {
    /* flex: 1 1 30%;  */
    margin: 10px;
    padding: 5px;
    /* display: flex; */
    /* align-items: center; */
}

@media (max-width: 770px) {
    .import-container {
        flex-basis: 100%; /* Full width for small screens */
    }

}

.import-container:nth-child(2) {
    flex: 1 1 10%; 
}
/* .import-container:nth-child(5) {
    flex: 1 1 10%; 
} */

.select-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.import-path {
    min-width: 106px;
    max-width: 261px;
}

#instructions-params {
    color: $font-color-primary;
    text-align: center;
    margin-top: 70px;      
    margin-bottom: 40px;    
}

.options-section {
    margin-top: 25px;
}


#sliders, #submit-section {
    border-top: solid 2px $section-divider-color;
    margin-top: 20px;
}

.slider-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

#total-length-container {
    background-color: $background-color-primary;
    border-top: solid 2px $border-color-primary;
    border-bottom: solid 2px $border-color-primary;
    border-radius: 25px;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    min-width: 300px;
}

.total-length-label {
    padding: 10px;
}

#total-length-val {
    height: 35px;
}

.form-range {
    font-family: sans-serif;
    min-width: 130px;
    margin-right: 10px;
}

.form-label {
    margin: 10px 8px;
}

#fine-tuning {
    color: $font-color-primary;
    min-width: 445px;
    background: $background-gradient;
    padding: 20px;
    border: 2px solid $border-color-primary;
    border-radius: 20px;
}

#create-button-params {
    margin: 25px;
}

.param-header {
    color: $font-color-primary;
    text-shadow: $text-shadow-xy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.range-inputbox {
    width: 70px;
}

.margin-right {
    margin-right: 50px;
}
.form-select:disabled {
    background-color: #919191;
}

#loadingParams-container {
    color: $font-color-primary;
    margin-top: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#loadingParams-container, #loadingAI-percentage, #render-carousel {
    display: none;
}

#render-carousel {
    margin: 20px;
}

#videoParams-container {
    display: none;
    align-items: center;
    justify-content: center;
}

.upload-offcanvas-toggle {
    align-self: center;
    width: 140px;
    margin: 20px;
    color: $font-color-primary;
}

#all-uploads {
    display: flex;
    padding: 12px; 
}

#video-uploads, #audio-uploads, #img-uploads {
    display: none;
}

#all-uploads-content, #video-uploads-content, #audio-uploads-content, #img-uploads-content {
    margin: 0 auto;
    padding-left: 7%;
}

.media-upload-card {
    min-width: 9rem;
    width: 9rem;
    height: 12rem;
    text-align: center;
    margin: 8px;

    video, img, audio {
        width: 5rem;
        height: 6rem;
    }
}


.media-upload-card:hover {
    cursor: pointer;
    background-color: $disabled-color;
}

.custom-check-input {
    border-color: #0d6efd;
}


#offcanvas-media-upload {
    background-color: #ffffff; 
    margin-top: 9%;
    width: 90%;
    height: 70%;
    left: 5%;

    border-radius: $border-radius;
    border: $border;
}

.offcanvas-upload-centered {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

#offcanvas-upload-close {
    position: absolute;
    right: 0;
    padding: 18px;
}

.custom-file-input {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    color: #007bff;
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 55px;
}

#hidden-file-input {
    display: none;
}