@import "./_variables.scss";

#main-container-params {
    color: $font-color-primary;
    background-color: $background-color-secondary;
    padding: 30px;
    border-radius: 14px; 
    min-width: 490px;
}

.carousel-control-next { 
    right: -9px;
}
.carousel-control-prev { 
    left: -9px;
}

.carousel-inner {
    background: $background-gradient;
    padding: 30px;
    border: groove 4px $border-color-primary;
    border-radius: 25px;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #0d6efd;
}

.carousel-indicators .active {
    background-color: $font-color-primary;
}

.carousel-caption {
    color: $font-color-primary;
    text-shadow: $text-shadow-xy;
}

.form-control:disabled {
    background-color: $disabled-color;
}

#imports {
    border-top: solid 2px $section-divider-color;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.import-container {
    /* flex: 1 1 30%;  */
    margin: 10px;
    padding: 5px;
    /* display: flex; */
    /* align-items: center; */
}

@media (max-width: 770px) {
    .import-container {
        flex-basis: 100%; /* Full width for small screens */
    }

}

.import-container:nth-child(2) {
    flex: 1 1 10%; 
}
/* .import-container:nth-child(5) {
    flex: 1 1 10%; 
} */


.import-path {
    min-width: 106px;
    max-width: 261px;
}

#instructions-params {
    color: $font-color-primary;
    text-align: center;
    margin-top: 70px;      
    margin-bottom: 40px;    
}

.options-section {
    margin-top: 25px;
}


#sliders, #submit-section {
    border-top: solid 2px $section-divider-color;
    margin-top: 20px;
}

.slider-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

#total-length-container {
    background-color: $background-color-primary;
    border-top: solid 2px $border-color-primary;
    border-bottom: solid 2px $border-color-primary;
    border-radius: 25px;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    min-width: 300px;
}

.total-length-label {
    padding: 10px;
}

#total-length-val {
    height: 35px;
}

.form-range {
    font-family: sans-serif;
    min-width: 130px;
    margin-right: 10px;
}

.form-label {
    margin: 10px 8px;
}

#fine-tuning {
    color: $font-color-primary;
    min-width: 448px;
    background: $background-gradient;
    padding: 20px;
    border: 2px solid $border-color-primary;
    border-radius: 20px;
}

#create-button-params {
    margin: 25px;
}

.param-header {
    color: $font-color-primary;
    text-shadow: $text-shadow-xy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.margin-right {
    margin-right: 50px;
}
.form-select:disabled {
    background-color: #919191;
}

#loadingParams-container {
    color: $font-color-primary;
    margin-top: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#loadingParams-container, #loadingAI-percentage, #render-carousel {
    display: none;
}

#render-carousel {
    margin: 20px;
}

#videoParams-container {
    display: none;
    align-items: center;
    justify-content: center;
}
