@import "_variables.scss";

.gradient-background-overlay {
    background-color: $background-gradient-overlay-color;
    // background-color: $background-gradient-overlay-color;
    border: 1px dashed $section-divider-color;
    padding: 25px
}
#fine-tuning-options {
    font-size: small;
    font-weight: 600;
}

#font-options {
    flex-direction: row;
}

@media (max-width: 1200px) {
    #font-options {
        flex-direction: column;
    }
}
.font-dropdown {
    height: 45px;
    width: 150px;
    margin: 0px 10px;
}

#voice-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    font-size: medium;
}

.voices-body {
    color: $font-color-primary;
    height: 400px;
    overflow-y: scroll;
    background-color: $background-color-secondary;
    z-index: 1;
}

#voice-val {
    min-width: 120px;
    height: 40px;
}

.voice:hover {
    cursor: pointer;
    background-color: rgb(167, 167, 167);
}

.gap-1 > button {
    height: 40px;
    font-size: 1rem;
    text-wrap: nowrap;
}

#collapse-voices {
    position: relative;
    height: 40px;
}

#voice-btn-close {
    position: absolute;
    background-color: $font-color-primary;
    z-index: 2;
    padding: 5px;
    margin: 5px;
}
.quote-textarea {
    height: 100px!important;
}

@media (min-width: 795px) {
    .quote-textarea {
        width: 50%;
    }
}

#gpt-btn-loading, #category-btn-loading {
    display: flex;
    padding-right: 1em;
    padding-left: -1em;
}
#AIretry-btn, #manual-retry-btn{
    display: none;
}

.voice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 30%; 
    margin: 10px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 50px;
}

.voice > audio {
    margin-left: 20px;
    width: 210px;
    min-width: 120px;
}

#mock-video {
    margin: 0 auto;
    max-width: 100%;
    width: 360px;
    height: 640px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    opacity: 0.75;
}

#aspect-ratio{
    width: 150px;
    height: 45px;
    margin: 0px 10px;
}