@import "./_variables.scss";

@media (min-width: 576px) {
    .pricing-card-deck {
    display: flex;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    }
}

.pricing-card:hover {
    box-shadow: $text-shadow-xy-light;
}