@import '../variables.scss';

body {
    font-family: $font-family;
    background-color: $background-color-primary;
    color: #fff; // White text color
}


.affiliate-header {
    background: $background-gradient;
    color: rgba(255, 255, 255, 0.9); // Adjust text opacity here (0.9 means 90% opaque)
    padding: 20px 0;
    text-align: center;
}

.affiliate-about-section {
    padding: 20px;
    margin-bottom: 20px; /* Add some space between sections */
    border: 1px solid $border-color-primary; /* Add border around each section */
    border-radius: 5px; /* Add border radius for rounded corners */

    h2 {
        color: rgba(255, 255, 255, 0.9); // Adjust text opacity here
    }

    ul, ol {
        list-style: none;
        padding-left: 0;
    }

    p {
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.9); // Adjust text opacity here
    }
}


.affiliate-btn {
    width: 200px;
    color: #fff; 
    border-radius: 10px;
    margin: 15px;
    
}
