@import '../variables.scss';


.affiliate-header {
    background: $background-gradient;
    color: rgba(255, 255, 255, 0.9); // Adjust text opacity here (0.9 means 90% opaque)
    padding: 20px 0;
    text-align: center;
}

.affiliate-about-section {
    padding: 20px;
    margin-bottom: 50px; /* Add some space between sections */
    margin-top: 50px;
    border: 3px solid $border-color-primary; /* Add border around each section */
    border-radius: 5px; /* Add border radius for rounded corners */


       
    margin-left: auto;
    margin-right: auto;
    h2 {
        color: rgba(255, 255, 255, 0.9); // Adjust text opacity here
    }

    ul, ol {
        list-style: none;
        padding-left: 0;
    }

    p {
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.9); // Adjust text opacity here
    }
}


.affiliate-btn {
    width: 200px;
    color: #fff;
    border-radius: 10px;
    margin: 15px;
}





// Only effects the "Ready to Get Started" section.
