
    
{% for i in range(mediapaths|length)  %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2 media-col">    
        <div class="card media-upload-card" onclick="toggleCheckbox(this);">
            <{{tag_type}} src="{{ url_for('general.serve_media', user_dir=upload_dirs[i], filename=mediapaths[i]) }}" class="card-img-top w-100" alt="" controls></{{tag_type}}>
            <div class="mt-2">
                <p class="card-text">{{ mediapaths[i] }}</p>
                <input type="checkbox" class="form-check-input custom-check-input" onclick="event.stopPropagation();">
            </div>
        </div>
    </div>
{% endfor %}



