{% extends 'base.html' %}

{% block content %}

    <h1>Update User...</h1>
    <form action="/update/{{ name_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=name_to_update.name) }}
        
        <br />
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=name_to_update.email) }}
        <br />
        {{ form.favorite_color.label(class="form-label") }}
        {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
        <br />
        {{ form.submit(class="btn btn-primary") }}

    </form>
<br /><br /><br />
{% for our_user in our_users %}
    {{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} - {{ our_user.favorite_color }}<br />
{% endfor %}
{% endblock %}

{% set include_footer = true %}
