{% for videopath in videopaths %}
    {% if loop.index == 1 %}
        <div class="carousel-item active">
    {% else %}
        <div class="carousel-item">
    {% endif %}
            <div class="carousel-caption d-md-block" style="position: static;">
                <h5>Video ({{loop.index}}/{{ videopaths|length }})</h5>
            </div>
            
            
            <div id="video-container" class="d-flex justify-content-center">
                <video id="video-preview" src="{{ url_for('general.serve_media', user_dir=user_dir, filename=videopath) }}" class="border rounded"
                    alt="output video" width="320" height="240" controls>
                </video>
            </div>        
        </div>

{% endfor %}

<div class="carousel-indicators" >
    {% for _ in videopaths %}
        {% if loop.index == 1 %}
        <button type="button" data-bs-target="#render-carousel" data-bs-slide-to="{{loop.index - 1}}" class="active" aria-current="true" aria-label="Video {{loop.index}}"></button>
        {% else %}
        <button type="button" data-bs-target="#render-carousel" data-bs-slide-to="{{loop.index - 1}}" aria-current="true" aria-label="Video {{loop.index}}"></button>
        {% endif %}
    {% endfor %}
</div>



