<div id="mock-video">
    <img id="watermark-top" class="watermark-img" src="{{url_for('static', filename='/images/omniclipv2-logo.png')}}"/>
    <img id="watermark-mid" class="watermark-img" src="{{url_for('static', filename='/images/omniclipv2-logo.png')}}"/>
    <img id="watermark-bottom" class="watermark-img" src="{{url_for('static', filename='/images/omniclipv2-logo.png')}}"/>
    <span id="sample-text" class="p-3">Sample</span>
</div>
<div class="d-flex justify-content-center mock-options-container">
    <div class="mx-4">
        
        <div class="mb-3">
            <label for="subtitle-alignment" class="form-label">Subtitle Alignment</label>
            <select id="subtitle-alignment" class="form-select font-dropdown" name="subtitleAlignment" value="5" aria-label="Subtitle Alignment">
                <option value="1">Bottom-Left</option>
                <option value="2">Bottom-Center</option>
                <option value="3">Bottom-Right</option>
                <option value="4">Middle-Left</option>
                <option value="5" selected>Middle-Center</option>
                <option value="6">Middle-Right</option>
                <option value="7">Top-Left</option>
                <option value="8">Top-Center</option>
                <option value="9">Top-Right</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="font-name" class="form-label">Font Name</label>
            <select id="font-name" class="form-select font-dropdown" name="fontName" value="arial" aria-label="Font Name">
                <option value="Arial" selected>Arial</option>
                <option value="Verdana">Verdana</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Courier New">Courier New</option>
                <option value="Georgia">Georgia</option>
                <option value="Palatino">Palatino</option>
                <option value="Garamond">Garamond</option>
                <option value="Bookman">Bookman</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Trebuchet MS">Trebuchet MS</option>
                <option value="Arial Black">Arial Black</option>
                <option value="Impact">Impact</option>
                <option value="Tahoma">Tahoma</option>
                <option value="Geneva">Geneva</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="font-size" class="form-label">Font Size</label>
            <select id="font-size" class="form-select font-dropdown" name="fontSize" value="12" aria-label="Font Size">
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected>12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="24">24</option>
                <option value="32">32</option>
                <option value="48">48</option>
             </select>
        </div>

        <div class="m-3">
            <input id="bold-value" type="hidden" name="isBold" value="false">
            <label for="bold" class="form-check-label">Bold</label>
            <input type="checkbox" id="bold" class="form-check-input"  aria-label="Bold">
        </div>
        <div class="m-3">
            <input id="italic-value" type="hidden" name="isItalic" value="false">
            <label for="italic" class="form-check-label">Italic</label>
            <input type="checkbox" id="italic" class="form-check-input" aria-label="Italic">
        </div>
        <div class="m-3">
            <input id="underline-value" type="hidden" name="isUnderline" value="false">
            <label for="underline" class="form-check-label">Underline</label>
            <input type="checkbox" id="underline" class="form-check-input" aria-label="Underline">
        </div>
    </div>

    <div class="mx-4">
        <div class="mb-3">
            <label for="aspect-ratio" class="form-label">Aspect Ratio</label>
            <select id="aspect-ratio" class="form-select" name="aspectRatio" value="9:16" aria-label="Aspect Ratio">
                <option value="16:9">16:9</option>
                <option value="9:16" selected>9:16</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="primary-color" class="form-label">Font Color</label>
            <div>
                <input type="text" id="primary-color" class="form-control" name="primaryColor" value="#FFFFFF" aria-label="Primary Color" data-coloris>
            </div>
        </div>
        <div class="mb-3">
            <label for="outline-color" class="form-label">Outline Color</label>
            <div>
                <input type="text" id="outline-color" class="form-control" name="outlineColor" value="#000000" aria-label="Secondary Color" data-coloris disabled>
            </div>
            <label for="outline-transparent-bln" class="form-check-label mt-2">Transparent</label>
            <input type="checkbox" id="outline-transparent-bln" class="form-check-input mt-2" aria-label="Transparent Outline" checked>
        </div>

        <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
        <script>
            document.getElementById('primary-color').addEventListener('click', e => {
                Coloris({
                    themeMode: 'dark',
                    alpha: false
                });
            });
            document.getElementById('outline-color').addEventListener('click', e => {
                Coloris({
                    themeMode: 'dark',
                    alpha: false
                });
            });     
        </script>

        <div class="mb-3">
            <label for="watermark-opacity-range" class="form-label mt-3">Watermark Opacity</label>
            <div id="watermark-opacity-container" class="slider-container">
                <input id="watermark-opacity-range" class="form-range"  type="range" min="0" max="1" step="0.01" value="0.35">
                <input type="number" id="watermark-opacity-val" class="range-number-input form-control ml-2" name="watermarkOpacity" min="0" max="1" step="0.01" value="0.35">
            </div>
        </div>

    </div>

</div>

